<section id="section-footer">
  <h3>Pour plus d'informations,<br> veuillez contacter : </h3>
  <div>
    <p class="nom-footer">M. Cédric Larran</p>
    <p class="infos-footer">06 81 56 95 15 <br> • <br> cedric.larran@gmail.com </p>
  </div>
  <img src="assets/img/image-2.png" alt="Image de fin de page" id="img-footer">
  <div>
    <p class="nom-footer">Mme Amandine De Kerpezdron</p>
    <p class="infos-footer">06 14 51 10 04 <br> • <br> dekerpezdron.amanda@gmail.com</p>
  </div>
  <!--
  <p class="infos-footer">Chargé des animations : <br> M. Cédric Larran <br> cedric.larran@gmail.com</p>-->
</section>
