<section id="section-footer">
  <h3>Pour plus d'informations,<br> veuillez contacter : </h3>
  <div>
    <p class="nom-footer">M. Cédric Larran</p>
    <p class="infos-footer">06 81 56 95 15 • cedric.larran@gmail.com </p>
  </div>
  <img src="assets/img/image-2.png" alt="Image de fin de page" id="img-footer">
  <div>
    <p class="nom-footer">Mme Amandine De Kerpezdron</p>
    <p class="infos-footer">06 14 51 10 04 • dekerpezdron.amanda@gmail.com</p>
  </div>
  <div>
    <p class="nom-footer">Responsables des animations</p>
    <p class="texte-footer">M. Ludovic Larran <br> 06 98 07 70 55</p>
    <p class="texte-footer">M. Lukas Chevarin <br> 07 60 96 56 34</p>
  </div>
  <!--
  <p class="infos-footer">Chargé des animations : <br> M. Cédric Larran <br> cedric.larran@gmail.com</p>-->
</section>
