<section id="form-section">
  <form [formGroup]="reponseForm" (ngSubmit)="onSubmit()" novalidate>
    <div *ngIf="name.errors && !isValid">
      <span *ngIf="name.errors['required']">Le nom manque</span>
    </div>
    <div>
      <label for="name">Nom & Prénom</label>
      <input type="text" id="name" formControlName="name">
    </div>

    <div *ngIf="email.errors && !isValid">
      <span *ngIf="email.errors['required']">L'email est manquant</span>
      <span *ngIf="email.errors['email']">L'email n'est pas conforme</span>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="text" id="email" formControlName="email">
    </div>

    <div formGroupName="presence">
      <div>
        <input value="presenceMairie" type="checkbox" id="presenceMairie" (change)="controleOnChange($event)" formControlName="presenceMairie">
        <label for="presenceMairie">Mairie</label>
      </div>
      <div>
        <input value="presenceDiscours" type="checkbox" id="presenceDiscours" (change)="controleOnChange($event)" formControlName="presenceDiscours">
        <label for="presenceDiscours">Discours Biblique</label>
      </div>
      <div>
        <input value="presenceGouter" type="checkbox" id="presenceGouter" (change)="controleOnChange($event)" formControlName="presenceGouter">
        <label for="presenceGouter">Goûter</label>
      </div>
      <div>
        <input value="presenceSoiree" type="checkbox" id="presenceSoiree" (change)="controleOnChange($event)" formControlName="presenceSoiree">
        <label for="presenceSoiree">Soirée</label>
      </div>
    </div>

    <div>
      <label for="nombreAdultes">Nombre d'Adultes</label>
      <input type="number" id="nombreAdultes" min="0" max="10" formControlName="nombreAdultes">
    </div>

    <div>
      <label for="nombreEnfants">Nombre d'Enfants</label>
      <input type="number" id="nombreEnfants" min="0" max="10" formControlName="nombreEnfants">
    </div>

    <div>
      <label for="musique">Musique qu'on aimerait entendre</label>
      <input type="text" id="musique" formControlName="musique">
    </div>


    <input type="submit" value="Nous confirmons">
    <!-- Récupérer les données, instancier un nouvel objet / quand j'envoie avec le client http, utiliser la methode tojson pour qu'il le reçoive comme il veut-->
  </form>

  <div *ngIf="reponseForm.valid && isSubmitted">
    <p>Votre réponse a bien été envoyée </p>
  </div>

</section>
