@import '../../styles.scss';

#form-section {
  height: 85vh;
}

#formulaire {
  width: 80%;
  margin: 0 auto;
  height: 60vh;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px $marron solid;
  border-radius: 20px;
  background-color: $beigeLight;
  padding-left: 10px;
  margin: 10px 0;
}

.form-input::placeholder {
  color: $marron;
  font-size: 14px;
}

.form-div, #form-button {
  width: 100%;
  border: 1px $marron solid;
  border-radius: 20px;
  background-color: $beigeLight;
  padding: 10px;
  margin: 10px 0;
}

.form-div > span, #form-button {
  display: block;
  color: $marron;
  font-size: 14px;
  margin: 4px 0;
}

#form-choice {
  display: flex;
  align-items: center;
}

.form-label {
  margin: 3px;
  color: $marron;
  font-size: 14px;
}

#form-button {
  width: 60%;
  margin: 10px auto;
  background-color: $marron;
  color: $moutarde;
}

.error-text {
  font-size: 14px;
  color: #d72424;
  padding-left: 11px;
}
