<section id="form-section">
  <h3>Notre Réponse</h3>
  <form [formGroup]="reponseForm" id="formulaire" class="">

    <div *ngIf="reponseForm.controls['name'].errors && reponseForm.dirty" class="error-msg">
      <p [hidden]="!reponseForm.controls['name'].errors['required']" class="error-text">Le nom et le prénom manquent</p>
    </div>
    <input type="text" id="nom" formControlName="name" placeholder="Mon nom et mon prénom" class="form-input">

    <div *ngIf="reponseForm.controls['email'].errors && reponseForm.dirty" class="error-msg">
      <p [hidden]="!reponseForm.controls['email'].errors['required']" class="error-text">L'email manque</p>
      <p [hidden]="!reponseForm.controls['email'].errors['email']" class="error-text">L'email n'est pas valide</p>
    </div>
    <input type="text" id="email" formControlName="email" placeholder="Mon adresse email" class="form-input">

    <div *ngIf="reponseForm.controls['presences'].errors" class="error-msg">
      <p [hidden]="!reponseForm.controls['presences'].errors['required']" class="error-text">La présence n'est pas sélectionnée</p>
    </div>

    <!--<ng-container *ngIf="presences.values()"></ng-container>-->
    <select name="" id="presence" formControlName="presences" class="form-input">
      <option [ngValue]="null" disabled>Présence</option>
      <option *ngFor="let presence of presences" [ngValue]="presence.id">{{presence.name}}</option>
    </select>

    <div class="form-div">
      <span class="">Nous serons présents pour</span>
      <div *ngFor="let choice of choices; let i = index" id="form-choice">
        <input [id]="'choix' + i" type="checkbox" [value]="choice.name" (change)="onCheckboxChange($event)">
        <label class="form-label" [for]="'choix' + i">{{choice.name}}</label>
      </div>
    </div>

    <input type="number" id="number" formControlName="nombreDePersonnes" placeholder="Nombre de personnes" class="form-input">
    <input type="text" id="music" formControlName="musique" placeholder="Une musique qu'on aimerait entendre" class="form-input">

    <button type="submit" (click)="onSubmitForm()" [disabled]="!reponseForm.valid" id="form-button">Notre réponse</button>
  </form>
</section>
