@import '../../styles.scss';

.loading-section {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  background-color: $beige;
}

h1 {
  font-family: $Spring, handwritting;
  text-align: center;
  font-size: 60px;
}

div{
  text-align: center;
}

@media screen and (max-width:426px) and (orientation:portrait) {
  h1 {
      font-size: 32px;
  }
}

