@import '../styles.scss';

/* PARAMETRES GENERAUX */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $marron;
  scroll-behavior: smooth;
  font-family: $Typewriter;
}

.w100 {
  width: 100%;
}



