/* You can add global styles to this file, and also import other style files */

/* COULEURS */
$marron : #33271F;
$beige : #D7CFC3;
$beigeLight : #EDEBE5;
$sauge : #b5c99a;
$moutarde : #ddae2c;

/* POLICES */
@font-face {
  font-family: "Spring";
  src: url("assets/fonts/Spring\ in\ May.ttf") format("woff2");
}

@font-face {
  font-family: "Typewriter Regular";
  src: url("assets/fonts/ELEGANT\ TYPEWRITER\ Regular.ttf") format("woff2");
}

$Typewriter : 'Typewriter Regular';
$Spring : 'Spring';

/* PARAMETRES GENERAUX */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $marron;
  scroll-behavior: smooth;
  font-family: $Typewriter;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h3 {
  font-family: 'Spring';
  font-size: 2.4em;
  text-align: center;
  line-height: 1.8em;
}


.w100 {
  width: 100%;
}

body {
  background-image: url('assets/img/mobile/fond30.png');
  background-repeat: no-repeat;
  background-size: cover;
}


