<section id="titre-accueil" class="full-height">
  <h1>Amandine & Cédric</h1>
  <h2>Samedi 3 Décembre 2022</h2>
  <div id="infos">
    <p class="texte">plus d'informations</p>
    <a href="#texte-accueil" id="plus">
      <img src="assets/img/icons/downBrown.png" alt="Plus d'informations" />
    </a>
  </div>
</section>

<section id="texte-accueil" class="full-height">
  <div>
    <p>"Quelques mots d'amour peuvent réchauffer tout un hiver"</p>
    <p>Cet hiver, l'amour tiendra en un seul et simple mot : Oui !</p>
    <p>
      Elle le lui a dit une première fois... En ce jour là, ils se le diront
      pour toujours. Vous êtes conviés à assister à l'échange de leurs voeux, le
    </p>
    <div id="date">Samedi 3 Décembre 2022.</div>
  </div>
  <div class="img-accueil">
    <img src="../../assets/img/image-1.png" alt="photo d'Amandine et Cédric" />
  </div>
</section>
