@import '../../styles.scss';

.titre-accueil {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 88vh;
  width: 80%;
  margin: 0 auto;
}


h1 {
  font-family: 'Spring';
  font-size: 2.5em;
}

h2 {
  font-family: 'Typewriter Regular';
  font-size: 1.2em;
}


