@import '../../styles.scss';

#titre-accueil {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 90vh;
  width: 95%;
  margin: 0 auto 17% auto;
}


#titre-accueil>h1 {
  font-family: 'Spring';
  font-size: 52px;
  margin: 8px 0;
}

#titre-accueil h2 {
  font-family: 'Typewriter Regular';
  font-size: 24px;
  margin-bottom: 8px;
}

#texte-accueil {
  width: 80%;
  margin: 90px auto 0 auto;
}

#texte-accueil p {
  font-family: 'Typewriter Regular';
  font-size: 1.1em;
  margin: 12px 0;
  line-height: 33px;
}

.img-accueil {
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width:360px) {
  #titre-accueil {
    height: 86vh;
    margin: 0 auto 44% auto;
  }

  #titre-accueil>h1 {
    font-size: 46px;
  }

  #titre-accueil>h2 {
    font-size: 22px;
  }

}
