@import '../../styles.scss';

.titre-accueil {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 88vh;
  width: 80%;
  margin: 0 auto;
}


h1 {
  font-family: 'Spring';
  font-size: 2.5em;
}

h2 {
  font-family: 'Typewriter Regular';
  font-size: 1.2em;
}

.texte-accueil {
  width: 80%;
  margin: 100px auto;
}

.texte-accueil p {
  font-family: 'Typewriter Regular';
  font-size: 1.1em;
  margin: 12px 0;
  line-height: 33px;
}

.img-accueil {
  width: 75%;
  margin: 0 auto;
}

