<section id="titre-accueil">
  <h1>Amandine & Cédric</h1>
  <h2>Samedi 3 Décembre 2022</h2>
  <div id="div-infos">
    <p id="texte-infos">plus d'informations</p>
    <a href="#texte-accueil" id="plus-accueil">
      <img src="assets/img/icons/downBrown.png" alt="Plus d'informations" class="w100">
    </a>
  </div>
</section>


<section id="texte-accueil">
  <p>"Quelques mots d'amour peuvent réchauffer tout un hiver"</p>
  <p>Cet hiver, l'amour tiendra en un seul et simple mot : Oui !</p>
  <p>Elle le lui a dit une première fois... En ce jour là, ils se le diront pour toujours.
    Vous êtes conviés à assister à l'échange de leurs voeux le <b>Samedi 3 Décembre 2022</b>. <br>
    Autour d'un bon vin chaud s'en suivront rires et danses sur des mélodies d'antan...
  </p>

  <div class="img-accueil">
      <img src="../../assets/img/image-1.png" alt="" class="w100">
  </div>
</section>
