<section id="titre-accueil">
  <h1>Amandine & Cédric</h1>
  <h2>Samedi 3 Décembre 2022</h2>
</section>

<!--
<section id="texte-accueil">
  <p>Amandine & Cédric vous proposent un voyage dans le temps ! </p>
  <p> L’amour est intemporel mais c’est sur un air de passé que nous avons décidé de nous dire Oui pour la vie.</p>
  <p>Nous serons heureux de vous compter parmi nous lors de la célébration de notre mariage, le <b>Samedi 3 décembre 2022</b> à <b>11h00</b> à la <b>Mairie d’Ambarès</b>.
  </p>
  <div class="img-accueil">
      <img src="../../assets/img/image-1.png" alt="" class="w100">
  </div>
</section>
-->
