@import '../../styles.scss';

#titre-accueil {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 98vh;
  width: 95%;
  margin: 0 auto 17% auto;
}


#titre-accueil>h1 {
  font-family: $Spring;
  font-size: 52px;
  margin: 8px 0;
}

#titre-accueil h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

#div-infos {
  margin-top: 10%;
}

#plus-accueil {
  text-decoration:none;
  width: 11%;
  margin: 0 auto;
  display: block;
  animation: scale 3s infinite;
}

#texte-infos {
  text-align: center;
}

#texte-accueil {
  width: 80%;
  margin: 90px auto 0 auto;
  padding-top: 7px;
}

#texte-accueil p {
  font-size: 1.1em;
  margin-top: 12px;
  line-height: 33px;
  text-align: center;
}

#texte-date {
  font-size: 1.2em;
  margin-top: 12px;
  line-height: 33px;
  text-align: center;
}

.img-accueil {
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width:360px) {
  #titre-accueil {
    margin: 0 auto 44% auto;
  }

  #titre-accueil>h1 {
    font-size: 46px;
  }

  #titre-accueil>h2 {
    font-size: 22px;
  }

}

@keyframes scale {
  0% {

      transform: translateY(-10%) scale(1);
  }
  50% {
      transform: translateY(10%) scale(1.1);
  }
  100% {
      transform: translateY(-10%) scale(1);
  }
}
