@import '../../styles.scss';

#programme {
  text-align: center;
  margin: 46px 0;

  .lieu-prg {
    margin: 10px 0;

    .titre-prg {
      font-family: $Spring;
      font-size: 30px;
    }
    .texte-prg {
      font-size: 1.1em;
    }
  }
}

#carte-prg {
  width: 66%;
  margin: 20px auto;

  a {
    img {
      border-radius: 10%;
    }
  }
}
