<section id="programme">
  <h3>Programme</h3>
  <div class="lieu-prg">
      <h4 class="titre-prg">Mairie</h4>
      <p class="texte-prg">11h00 à la Mairie d'Ambarès <br>
        18 Pl. de la Victoire,  <br>
        33440 Ambarès-et-Lagrave
      </p>
  </div>
  <div class="lieu-prg">
      <h4 class="titre-prg">Discours Biblique</h4>
      <p class="texte-prg">14h30 au Chateau Bone <br>
        2 rue des pigeonniers,  <br>
        33710 Gauriac
      </p>
  </div>
  <div class="lieu-prg">
      <h4 class="titre-prg">Gouter & Repas dansant</h4>
      <p class="texte-prg">A partir de 15h00 au Chateau Bone <br>
        2 rue des pigeonniers,  <br>
        33710 Gauriac
      </p>
  </div>
</section>
<section class="carte-prg">
  <a href="https://urlz.fr/it0k">
    <img src="../../assets/img/carte.png" class="w100" alt="Trajet Mairie-Lieu de Réception">
  </a>
</section>
