@import '../../styles.scss';

#programme {
  text-align: center;
  margin: 28px 0;

  @media #{$large-phone} {
    margin: 14% 0;
  }

  .lieu-prg {
    margin: 10px 0;

    .titre-prg {
      font-family: $Spring;
      font-size: 1.6em;

      @media #{$large-phone} {
        font-size: 2.2em;
      }

    }
    .texte-prg {
      font-size: 1.1em;

      @media #{$large-phone} {
        font-size: 24px;
      }

    }
  }
}

#carte-prg {
  width: 66%;
  margin: 20px auto;

  a {
    img {
      border-radius: 10%;
    }
  }
}
